.heading {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    
    &__primary {
        letter-spacing: 2rem;
        font-size: 10em;

        color: var(--color-green);
    }

    &__paragraph {
        font-size: 2em;
    }

}
